
<footer class="page-footer pt-5 fixed-bottom" >
    <div class="container-fluid text-center text-md-left" style="background-color: #1A1A1D;">
        <hr style="background:#950740"/>>
        <div class="row ">
  
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 style="color:#950740">CoderOfTomorrow</h5>
                <p style="color:#950740">...</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 style="color:#950740">Date de contact</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Facebook</a>
                    </li>
                    <li>
                        <a href="#!">Instagram</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 style="color:#950740">Parteneri</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">TEKWill</a>
                    </li>
                    <li>
                        <a href="#!">UTM</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
