@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CoT | @ViewBag.Title</title>

    @Styles.Render("~/bundles/bootstrap/css")

    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <!-- Primary HOME style -->
    @Styles.Render("~/bundles/main/css")
</head>

<body style="background-color:#1A1A1D">
    <div >
        <!-- Main view -->
        
            @RenderBody()
        

        <!-- Section for main scripts render -->
       

        <!-- Handler for local scripts -->
        
    </div>
</body>
</html>
