@using System.Web.Mvc;

<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark" style="background-color:#950740">
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="Home">Acasa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Galerie">Galerie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Aveti o intrebare?</a>
            </li>
        </ul>
        <ul class="navbar-nav text-md-right">
            @{if ((string)System.Web.HttpContext.Current.Session["LoginStatus"] != "login")
                {
                    <li class="nav-item" style="text-align:right">
                        <a class="btn btn-outline-light" href="~/Login">Autentificare</a>
                    </li>
                    <li class="nav-item" style="text-align:right">
                        <a class="btn btn-outline-light" href="~/Register">Inregistrare</a>
                    </li>
                }
                else
                {

                    <li class="nav-item" style="text-align:right">
                        <a class="btn btn-outline-light" href="~/Profile">Profil</a>
                    </li>
                    <li class="btn btn-outline-light">@Html.ActionLink("Log Off", "Logout", "Login")</li>
                }
            }
        </ul>
    </div>
</nav>
