@using System.Web.Optimization;

@{
    ViewBag.Title = "Acasa";
}

<html>
<head>
    @Styles.Render("~/bundles/bootstrap/css")
</head>

<body style="background-color:#1A1A1D">

      
</body>
</html>