@using System.Web.Optimization;

@{
    ViewBag.Title = "Acasa";
}

@model eUseControl.Web.Models.UserLogin

<html>
<head>
    @Styles.Render("~/bundles/bootstrap/css")
</head>

<body style="background-color:#1A1A1D">
      
</body>
</html>